/* html {
	max-width: 960;
} */
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	position: fixed;
}
header {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10vh;
	background-color: rgb(175, 175, 175);
	z-index: 10;
}
button {
	border: none;
	height: 50px;
	width: 50px;
	position: absolute;
	border-radius: 50%;
	z-index: 100;
}
main {
	position: relative;
	top: 10vh;
	height: 80vh;
	width: 100vw;
	background-color: rgb(250, 250, 250);
}
figure {
	margin: 0;
	height: 100%;
	display: flex;
	align-items: center;
}
img {
	width: 100%;
}
.door {
	height: 100vh;
	width: 100vw;
	background-color: rgb(150, 150, 150);
	z-index: 9;
}
.leftOpen {
	position: absolute;
	top: 0;
	left: -100%;
	transition: 0.5s ease-in-out;
}
.left {
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s ease-in-out;
}
.rightOpen {
	position: absolute;
	top: 0;
	right: -100%;
	transition: 0.5s ease-in-out;
}
.right {
	position: absolute;
	top: 0;
	right: 0;
	transition: 0.5s ease-in-out;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10vh;
	background-color: rgb(175, 175, 175);
	z-index: 10;
}
