body {
	padding: 0;
	margin: 0;
}
header {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 5vh;
	background-color: rgb(50, 50, 50);
	background-image: url(../assets/bannerString.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 20;
}
h1 {
	margin: 0;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	font-family: "Zen Dots", cursive;
	color: #e2cd07;
	background-color: rgb(50, 50, 50);
}
h2 {
	margin: 0;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	font-family: "Zen Dots", cursive;
	color: #e2cd07;
	background-color: rgb(50, 50, 50);
}

ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 5vh;
	left: 25vw;
	width: 50vw;
}
li {
	flex-basis: 10%;
	margin: 0.5em;
	padding: 0.5em;
	text-align: center;
	color: white;
	list-style: none;
	background-color: rgb(50, 50, 50);
	z-index: 30;
}

.door {
	padding-top: 5vh;
	height: 90vh;
	width: 50vw;
	position: fixed;
	background-color: rgb(75, 75, 75);
	z-index: 10;
}
.door img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.leftOpen {
	top: 0;
	left: -50%;
	transition: 0.5s ease-out;
}
.left {
	top: 0;
	left: 0;
	transition: 0.5s ease-out;
}

.rightOpen {
	top: 0;
	right: -50%;
	transition: 0.5s ease-out;
}
.right {
	top: 0;
	right: 0;
	transition: 0.5s ease-out;
}

section {
	text-align: center;
	color: white;
	background-color: rgb(75, 75, 75);
	position: absolute;
	padding-top: 5vh;
	height: 90vh;
	width: 100vw;
}
#about {
	z-index: 0;
}
#unity-container {
	z-index: 0;
}
#support {
	z-index: 0;
}

#about img,
#support img {
	padding: 3em;
	width: 300px;
}
#about p,
#support p {
	padding: 1em;
	margin: 0 auto;
	width: 500px;
}

footer {
	background-image: url(../assets/footerString.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 5vh;
	background-color: rgb(50, 50, 50);
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	z-index: 20;
}
/* UNITY */

#unity-canvas {
	background: #ffffff;
}

#unity-loading-bar {
	padding: 10px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	left: calc((100% - 174px) / 2);
	top: 40%;
	z-index: 100;
}
#unity-logo {
	width: 154px;
	height: 130px;
	background: url("../TemplateData/unity-logo-dark.png") no-repeat center;
}
#unity-progress-bar-empty {
	width: 154px;
	height: 18px;
	margin-top: 10px;
	background: url("../TemplateData/progress-bar-empty-dark.png") no-repeat
		center;
}
#unity-progress-bar-full {
	width: 0%;
	height: 18px;
	margin-top: 10px;
	background: url("../TemplateData/progress-bar-full-dark.png") no-repeat center;
}
#unity-fullscreen-button {
	color: white;
	border: none;
	background-color: rgb(50, 50, 50);
	padding: 1em 2em;
	text-align: center;
	position: relative;
	bottom: calc(5vh + 2em);
	z-index: 9;
}
